:host{
    --slds-g-color-border-base-1: white;
    --slds-c-button-stateful-color-background-selected : white;
    --slds-c-button-stateful-color-border-selected-hover : rgb(117, 117, 117);
    --slds-c-button-stateful-color-border-selected : #757575;
}

.theme_unselected {
    background-color: white;
}

.theme_selected {
    background-color: #b9d4ff;
}

.checkbox-inner{
    margin-top: -2px;
    width: 16px;
    height: 16px;
}

.vertical-outer{
    height: 100%;
}

.vertical-inner{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.items-to-read{
    font-size: large;
    font-weight: bolder;
    color:whitesmoke;
    border-radius: 50%;
    background-color: rgb(38, 98, 128);
    width: 40px;
    height: 40px;
}