:host{
    --slds-g-color-border-base-1: white;
    --slds-c-button-stateful-color-background-selected : white;
    --slds-c-button-stateful-color-border-selected-hover : rgb(117, 117, 117);
    --slds-c-button-stateful-color-border-selected : #757575;
}

.THIS .theme_custom {
    background-color: white;
}

.checkbox-inner{
    margin-top: -2px;
    width: 16px;
    height: 16px;
}

.vertical-outer{
    height: 100%;
}

.vertical-inner{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}