.total-column{
    background-color: rgb(184, 221, 245);
}

.difference-column{
    background-color: #ffffff;
}

.whole-cell{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: var(--lwc-borderWidthThin, 1px);
    border-color: black;
    border-width: var(--lwc-borderWidthThin, 1px);
}

.info{
    background-color: #ececec;
    padding-left: 8px;
}

.difference-info{
    padding-left: 8px;
}

.input-cell{
    width: 90%;
    padding-left: 8px;
}
