lightning-button {
    margin: 10px 10px 10px 0px;
}

.button-align-left {
    display: flex;
    justify-content: flex-start;
}

.button-align-right {
    display: flex;
    justify-content: flex-end;
}

.button-align-center {
    display: flex;
    justify-content: center;
}